
{% load static %}
{% load widget_tweaks %}
<html lang="de">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>

  body{
  background-color: #24282c
  }

  img{
  width: 100%;
  height: 50%;
  border-bottom: 1px solid white;
  }
.container-fluid{
  width: 80%;

}

</style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
<img src="\static\wirtschaftsfoerderung_login.jpg" alt="Trulli" width="500" height="333">


<div class="container-fluid" >
  <div class="panel panel-default" style="background-color: #343a40; border: none;">
    <div class="panel-heading" style="background-color: #202427; color: white;">Login</div>
    <div class="panel-body">
      <form method="post" style="color: white;">
        {% csrf_token %}
        {{ form.username|add_label_class:'Benutzername' }}
        {{ form.username|add_class:'form-control' }}
        {{ form.password|add_label_class:'Password' }}
        {{ form.password|add_class:'form-control' }}
        <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px;">Login</button>
      </form>
      <p><a href="{% url 'password_reset' %}">Passwort vergessen?</a></p>
    </div>
  </div>
</div>

</body>
