<!-- templates/registration/password_reset_complete.html -->

{% load static %}
{% load widget_tweaks %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>

  body{
  background-color: #24282c
  }

  img{
  width: 100%;
  border-bottom: 1px solid white;
  }
.container-fluid{
  width: 100%;

  padding-left: 150px;
  padding-right: 150px;

}

</style>
</head>


<body>
<img src="\static\wirtschaftsfoerderung_login.jpg" alt="Trulli" width="500" height="333">


<div class="container-fluid" >
  <div class="panel panel-default" style="background-color: #343a40; border: none;">
    <div class="panel-heading" style="background-color: #202427; color: white;">Passwort zurücksetzen Abgeschlossen</div>
    <div class="panel-body">
      <p style="color: white; font-size: 40;">Passwort erfolgreich zurückgesetzt!</p>
      <p style="color: white; font-size: 20;">Das neue Passwort wurde geändert. Sie können sich nun mit dem neuen Passwort  <a href="/">anmelden.</a> </p>
    </div>
  </div>
</div>

<script>
  $('')
</script>
</body>
