<!-- templates/registration/password_reset_confirm.html -->

{% load static %}
{% load widget_tweaks %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>

  body{
  background-color: #24282c
  }

  img{
  width: 100%;
  border-bottom: 1px solid white;
  }
.container-fluid{
  width: 100%;

  padding-left: 150px;
  padding-right: 150px;

}

</style>
</head>


<body>
<img src="\static\wirtschaftsfoerderung_login.jpg" alt="Trulli" width="500" height="333">


<div class="container-fluid" >
  <div class="panel panel-default" style="background-color: #343a40; border: none;">
    <div class="panel-heading" style="background-color: #202427; color: white;">Passwort zurücksetzen</div>
    <div class="panel-body">
      <form method="POST"style="color:white;">
        {% csrf_token %}
        <label style="color: white">Neues Passwort:</label>
        {{ form.new_password1|add_class:'form-control' }}
        <ul>
            <li style="color: white;"> Das Passwort darf keine der bereits angegebenen Informationen (z.B Benutzername) enthalten </li>
            <li style="color: white;"> Das Passwort muss mindestes 8 Zeichen enthalten </li>
            <li style="color: white;"> Das Passwort muss sich von den genutzten Passwörtern unterscheiden </li>
            <li style="color: white;"> Das Passwort darf nicht nur aus Buchstaben bestehen </li>
        </ul>
        <label style="color: white">Password bestätigen:</label>
        {{ form.new_password2|add_class:'form-control' }}

        {{form.errors}}
      <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 10px;">Passwort ändern</button>
</form>
    </div>
  </div>
</div>

</body>
