{% load i18n %}{% autoescape off %}

Hallo {{ user.get_username }},
du erhälst diese E-Mail, da für deinen Account ein neues Passwort eingerichtet werden muss.

Bitte bestätige deine E-Mail-Adresse, indem du auf den folgenen Link klickst:
{% block reset_link %}
http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}


{% endblock %}
Falls du deinen Benutzernamen vergessen hast, lautet dieser wie folgt: {{ user.get_username }}

Ansonsten wünsche ich dir noch einen schönen Tag!

Arbeitszeiterfassung der Wirtschaftsförderung Lübeck
{% endautoescape %}

