.content-container{
    padding: 15px;
    background-color: #2b2b2b;
    border: 1px solid #4b4c4c;
    width: 100%;
}

#date_range_input{
    width: 25%;
    margin: 10px;
}

#start_date{
    cursor: pointer;
}

.container{
    margin-top: 20px;
}

.chart-container{
 height: 300px;
 width: 100%;
}