{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
<div id="download_div" style="padding: 5px;"></div>

{% render_table table %}

<script>
TableExport.prototype.charset = "charset=utf-8";


// Define the table you want to export
var $myTable = $('table');

$myTable.tableExport({
  headers: true,                     // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
  footers: true,                      // (Boolean), display table footers (th or td elements) in the <tfoot>, (default: false)
  formats: ["xlsx"],                  // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
  filename: "PZW_Kostenverteilung",   // (id, String), filename for the downloaded file, (default: 'id')
  bootstrap: true,                    // (Boolean), style buttons using bootstrap, (default: true)
  exportButtons: true,                // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
  position: "bottom",                    // (top, bottom), position of the caption element relative to table, (default: 'bottom')
  ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
  ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
  trimWhitespace: true,               // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
  RTL: false,                         // (Boolean), set direction of the worksheet to right-to-left (default: false)
  sheetname: "Kostenverteilung"       // (id, String), sheet name for the exported spreadsheet, (default: 'id')
});

// Detach the `buttons` html
var $buttons = $myTable.find('caption').children().detach();

// Append the buttons to an element of your choosing
$buttons.appendTo('#download_div');


</script>
