{% extends 'modal_base.html' %}
{% block content %}

<div id="load_data" style="margin: 10px">
<form method="post" id="modal_form" action="edit_user/">
    {% csrf_token %}
    <p>
        <label for="id_username_pop">Benutzername:</label>
        {{ usereditform.username_pop }}

    </p>
    <p>
    <label for="id_email_pop">Email:</label>
    {{ usereditform.email_pop }}
    </p>
    <p>
    <label for="id_first_name_pop">Arbeitszeit pro Woche:</label>
    {{ usereditform.working_time_pop}}
    </p>
    <p>
    <label for="id_first_name_pop">Vorname:</label>
    {{ usereditform.first_name_pop}}
    </p>
    <p>
    <label for="id_last_name_pop">Nachname:</label>
    {{ usereditform.last_name_pop}}
    </p>
    <input type="button" onclick="ajax_save()" class="btn btn-primary inline" style="margin: 10px;" value="Speichern">
</form>
</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} fade in" style="margin-top: 10px;" role="alert">
    <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</Strong>
    {% endfor %}
    {% endif %}
</div>
<script>
    $('#id_email_pop').addClass('form_control');
    $('#id_first_name_pop').addClass('form_control');
    $('#id_last_name_pop').addClass('form_control');
    $('#id_working_time_pop').addClass('form_control');

    $('#id_username_pop').change( function(){
        console.log("CHANGE");
        var selected_user = $(this).children("option:selected").val();
        console.log(selected_user);

        $.ajax({
          type: 'POST',
          url: 'ajax_load_userdata/',
          data:{
          select: selected_user,
          csrfmiddlewaretoken: "{{ csrf_token }}"
          },
          success: function(data){
          console.log(data);
          $('#load_data').html(data);
          }
        });
    });
</script>
<script>
$(".alert").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert").slideUp(500);
});
</script>
{% endblock %}

