{% extends 'base.html' %}


{% block content %}
{% load bootstrap3 %}       {# import bootstra #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% load widget_tweaks %}
<meta charset="UTF-8">

<head>

    <style>

    a{
        display: block;
    }

    table{
        overflow: auto;
    }

    .glyphicon-arrow-right{
        color: #337ab7;
        margin-top: 45px;
    }

    .glyphicon-arrow-left{
        color: #337ab7;
        margin-top: 5px;
    }

    .glyphicon-plus{
        cursor: pointer;
        color: #79c338;
    }

    .glyphicon-pencil{
        cursor: pointer;
        color: #efb80b;
    }

    .glyphicon-remove{
        cursor: pointer;
        color: red;
    }

    a.glyp_container{
        margin-top: 50%;
    }

    div.col{
        margin: 10px;
    }

    .test{
        background-color: #24282c;
        box-shadow: inset 0 0 10px #000000;
        margin: 10px;
        margin-top: 0px;
        padding: 20px;
    }

    .header-container{
        border-bottom: white;
        borderColor: #473939
        margin: 10px;
        margin-bottom: 0px;
        font-size: 30px;
        padding-left: 10px;
    }

    table{
    table-layout: fixed;
    width: 100%;
    }

    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<div class="container" style="padding: 10px;">
<div class="header-container">
    <strong style="color:white;">Benutzerkonto Hinzufügen:</strong>
</div>
<div class="test">

    <form method="post">
        {% csrf_token %}
        <p>
            <label style="margin: 5px; color: white;">*Benutzername:</label>
            {{ userform.username }}
            <label style="margin: 5px; color: white;">Es können maximal 150 Charakter (Buchstaben, Zahlen und @.+-_) verwendet werden.</label>
        </p>
        <p>
            <label style="margin: 5px; color: white;">Vorname:</label>
            {{ userform.first_name }}
        </p>
        <p>
            <label style="margin: 5px; color: white;">Nachname:</label>
            {{ userform.first_name }}
        </p>
        <p>
            <label style="margin: 5px; color: white;">*E-Mail:</label>
            {{ userform.email |add_class:'form-control'}}
            {{ userform.email.help_text }}
        </p>

        <label style="margin: 5px; color: white;">*Passwort:</label>
        {{ userform.password1 |add_class:'form-control'}}
        <ul>
            <li style="color: white;"> Das Password darf keine der bereits angegebenen Informationen enthalten </li>
            <li style="color: white;"> Das Password muss mindestes 8 Zeichen enthalten </li>
            <li style="color: white;"> Das Password muss sich von den genutzten Passwörtern unterscheiden </li>
            <li style="color: white;"> Das Password darf nicht nur aus Buchstaben bestehen </li>
        </ul>
        <p>
            <label style="margin: 5px; color: white;">*Passwort bestätigen:</label>
            {{ userform.password2 |add_class:'form-control'}}
        </p>
        <div class="row">
            <div class="col">
                <label style="margin: 5px; color: white;">Dem Benutzer Adminrechte erteilen: {{ userform.is_superuser |add_class:'form-control'}} </label>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" style="margin: 10px;" value="Benutzer erstellen">
        <p style="margin: 5px; color: white;">Felder mit einem * müssen ausgefüllt werden. Die weiteren Felder sind optional.</p>
    </form>
</div>

<div class="header-container">
    <strong style="color:white;"> Einstellung der Kategoriengruppierungen:</strong>
</div>

<div class="test">
    <div class="row">
        <div class="col">
            <label style="color: white;">Kategoriengruppe</label>
            <select class="form-control" id="id_categorie">
                <option selected> ---- </option>
                {% for k in kat %}
                <option> {{k}} </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-" >
            <a class="glyp_container"><span onclick="return popitup('/options/admin_options/addcategories/')" style="font-size: 110%; margin: 5px; margin-top: 25px;" class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="col-">
            <a class="glyp_container"><span onclick="return popitup('/options/admin_options/editcategories/')" style="font-size: 110%; margin: 5px; margin-top: 25px; " class="glyphicon glyphicon-pencil"></span></a>
        </div>
        <div class="col-">
            <a class="glyp_container"><span onclick="return popitup('/options/admin_options/deletecategories/')" style="font-size: 110%; margin: 5px; margin-top: 25px;" class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-">
            <a class="glyp_container"><span onclick="return popitup('/options/admin_options/addelements/')" style="font-size: 110%; margin-top: 20px; margin-left: 5px;" class="glyphicon glyphicon-plus"></span></a>
            <a class="glyp_container"><span onclick="return popitup('/options/admin_options/editelements/')" style="font-size: 110%; margin-left: 5px;" class="glyphicon glyphicon-pencil"></span></a>
            <a class="glyp_container"><span onclick="return popitup('/options/admin_options/deleteelements/')" style="font-size: 110%; margin-left: 5px;" class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div class="col">
            <label style="color:white;">Auswahl der Kategorien</label>
            <select multiple class="form-control" id="id_element">
            </select>
            <div id="alert_div">

            </div>
        </div>
        <center>
            <div class="col-">
                <a><span onclick= "add()" style="font-size: 150%;" class="glyphicon glyphicon-arrow-right"></span></a>
                <a><span onclick="remove()" style="font-size: 150%;" class="glyphicon glyphicon-arrow-left"></span></a>
            </div>
        </center>
        <div class="col">
            <label style="color:white;">Gruppierung</label>
            <select multiple class="form-control" id="favorite">

            </select>
            <button class="btn btn-primary" style="margin: 10px;" onclick="savefavelem()">Speichern</button>
        </div>
    </div>
</div>

<div class="header-container">
    <strong style="color:white;"> Einstellung der Kategorien und Typen Kombinationen:</strong>
</div>

<div class="test" id="table_div">
    <div style="font-size:20px; color: #337ab7;"><i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="font-size:24px; color:#337ab7"></i>  Einstellungen werden geladen...</div>
</div>
</div>
<script>


</script>

<script>
       function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=300,width=500');
    if (window.focus) {newwindow.focus()}
    return false};



        function savefavelem(){
        var cat = document.getElementById("id_categorie");
        var cat = cat.options[cat.selectedIndex].text;

        var fav = document.getElementById("favorite");
        txt = [];
            for (i = 0; i < fav.length; i++) {
            txt = txt + "," + fav.options[i].value;
        console.log(txt);
        };

        $.ajax({
            type: "POST",
            url: 'load_categorie/',
            data: {
            'favorites': txt,
            'categorie': cat,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data){
            $('#alert_div').html('<div id="alert" style="margin: 10px; margin-left: 0px; height: 10%" class="alert alert-success"><strong>Gruppierung gespeichert</strong></div>');

            $('#alert').fadeOut(10000);


            }
        });

        $.ajax({
            type: 'POST',
            url: 'ajax_table/',
            data:{
            csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(data){
                $('#table_div').html(data);
                }
      });
        }
</script>

<script>
    $("#id_categorie").change(function () {
        var cat = document.getElementById("id_categorie");
        var text = cat.options[cat.selectedIndex].text;
        console.log(text);

        $.ajax({
            type: "POST",
            url: 'load_elements/',
            data: {
            'categorie': text,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {

                $('#id_element').html(data);
                }
    });

            $.ajax({
            type: "POST",
            url: 'load_fav/',
            data: {
            'categorie': text,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                $('#favorite').html(data);
                }
    });
    });

    function add(){
    var cat = document.getElementById("id_element");
    var text = cat.options[cat.selectedIndex].text;
    var selectedID = cat.selectedIndex
    console.log(selectedID)
    cat.remove(cat.selectedIndex);

    var x = document.getElementById("favorite");
    var option = document.createElement("option");
    option.text = text;
    x.add(option);

    $('#id_element').prop("selectedIndex",selectedID);

    }

    function remove(){
    console.log("remove");
    var fav = document.getElementById("favorite");
    var text = fav.options[fav.selectedIndex].text;
    var selectedID = fav.selectedIndex;
    fav.remove(fav.selectedIndex);

    var x = document.getElementById("id_element");
    var option = document.createElement("option");
    option.text = text;
    x.add(option);

    $('#favorite').prop("selectedIndex",selectedID);

    }
</script>
<script>

$(document).ready(function () {
      $.ajax({
        type: 'POST',
        url: 'ajax_table/',
        data:{
        csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(data){
            $('#table_div').html(data);
            }
      });
});
</script>

<script>
    function Collapse(object) {
        console.log(object.id);
        var obj = object.id;

        if (obj == 'show'){
        $(object).closest('tbody').next('tbody').hide("fast");
        $(object).prop('id', 'hide');
        } else {
        $(object).closest('tbody').next('tbody').show("fast");
        $(object).prop('id', 'show');
        }
    }

</script>


<script>

function save() {

    console.time("Time this");
    var table = document.getElementById('table');

    var table_data = [];
    var type_arr = [];
    var categorie_arr = [];
    var element_arr = [];
    var checked_arr = [];


    for (var r = 1, n = table.rows.length; r < n; r++) {

        for (var c = 3, m = table.rows[r].cells.length; c < m; c++) {
            var colum = [];

            var element =  table.rows[r].cells[0].innerHTML;
            colum.push(element);

            var wie = table.rows[r].cells[1].children[0].children[0].children[0].value
            colum.push(wie);

            var obj = table.rows[r].cells[2].children[0].children[0].children[0].value;
            colum.push(obj);

            var categorie = table.rows[r].cells[0].closest('tbody').id;
            colum.push(categorie);

            var type = table.rows[0].cells[c].innerHTML;
            colum.push(type);

            var chkbox = table.rows[r].cells[c].children[0].children[0].children[0];
            colum.push(chkbox.checked);

            var calc = table.rows[r].cells[c].children[1];
            var calc_data = calc.options[calc.selectedIndex].value;
            colum.push(calc_data);

            table_data.push(colum);
            console.log(table_data);
       }

    }

    console.timeEnd("Time this");


      $.ajax({
        type: 'POST',
        url: 'load_combination/',
        data:{
        data: table_data,
        csrfmiddlewaretoken: "{{ csrf_token }}"
        },
        success: function(data){
            $('#alert_table').html('<div id="alert" style="margin: 10px; margin-left: 0px; height: 10%" class="alert alert-success"><strong>Gruppierung gespeichert</strong></div>');
            $('#alert_table').fadeOut(10000);
            }
      });
}

</script>

{% endblock %}
