<!-- templates/base.html -->
{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <!-- Charts.js JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- FullCalendar JS -->
  <script src="https://fullcalendar.io/releases/fullcalendar/3.9.0/lib/moment.min.js" ></script>


  <style>
  body {background-color: rgb(250, 250, 250);}
  </style>


</head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'input' %}">Arbeitszeiterfassung</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'input' %}">Eingabe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'overview' %}">Übersicht</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Analyse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'options' %}">Optionen</a>
          </li>

          {% endif %}

        </ul>
      </div>
    </nav>
  </header>
<body>

   <main>
     {% block content %}
     {% endblock %}
  </main>


</body>
</html>
