<div>
<canvas id="bar-chart" width="300" height="100"></canvas>
</div>
<script>


    Chart.defaults.global.defaultFontColor = 'white';
    var ctx = document.getElementById("bar-chart")
    new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["Typ"],
                datasets: [
                    {% for key, value in data.items %}

                    {
                    label: "{{key}}",
                    backgroundColor: "{{value.1}}",
                    data: {{value.0}},
                    },

                    {% endfor %}
                    ],
                },

                options: {
                                    scales: {
                        yAxes: [{
                            display: true,
                                ticks: {
                                    min: 0,
                                    stepSize: 1
                                }
                            }]
                        },

                    legend: { position: 'bottom' },
                    tooltips: {
                        enabled: true
                        },
                },
            });


</script>
