{% extends 'base.html' %}

{% block content %}
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
body {background-color: rgb(250, 250, 250);}

.test{
    padding: 15px;
    background-color: #24282c;
    box-shadow: inset 0 0 10px #000000;
    margin: 10px;
}



</style>
</head>

<div class="container">
  <!-- Content here -->
    <div class="row">
        <div class="col">
            <div class="test">
                <div>
                    <center><p><font color="white" > Stunden aktueller Monat in %</font></p></center>
                </div>
                    <span class= "align-baseline">
                    <div id ="canvas_container">
                        <canvas id="pie-chart11" width="2" height="1"></canvas>

                    </div>
                    </span>
            </div>
        </div>
        <div class="col">
            <div class="test">
                <div>
                    <center><p><font color="white" >Arbeitszeit pro Kategorie in %</font></p></center>
                </div>
                <span class= "align-baseline">
                    <div id ="canvas-container">
                        <canvas style="z-index: 99999;" id="pie-chart12" width="2" height="1"></canvas>

                    </div>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="container">
  <!-- Content here -->
    <div class="row">
        <div class="col">
            <div class="test">
                    <span class= "align-baseline">
                    <div>
                        <form method="get" >
                                    {% csrf_token %}
                                    <div style="margin: 5px;" class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" value="line" id="option1"> Line Chart
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option2" value="bar"> Bar Chart
                                        </label>
                                    </div>
                                <div id="canvas_id" ></div>

                                </form>
                    </div>
                    </span>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
  var draw = Chart.controllers.doughnut.prototype.draw;
    Chart.controllers.doughnut = Chart.controllers.doughnut.extend({
    draw: function() {
        draw.apply(this, arguments);

        let canvas = this.chart.chart;
        ctx = canvas.ctx;
        let _fill = ctx.fill;

        var cw=canvas.width;
        var ch=canvas.height;

        var radius = this.outerRadius;
        ctx.globalCompositeOperation='source-atop';


        ctx.shadowOffsetX = 500;
        ctx.shadowOffsetY = 0;
        ctx.shadowBlur = 10;
        ctx.shadowColor = 'rgba(0,0,0,1)';

        ctx.beginPath();
        ctx.arc(cw/2-500,ch/2,radius,0,Math.PI*2);
        ctx.stroke();
        ctx.stroke();
        ctx.stroke();


        ctx.globalCompositeOperation='source-over';


        ctx.fill = function() {
            ctx.save();

            _fill.apply(this, arguments)

        }
    }
    });
 Chart.pluginService.register({
  beforeDraw: function (chart) {
    if (chart.config.options.elements.center) {
      //Get ctx from string
      var ctx = chart.chart.ctx;

      //Get options from the center object in options
      var centerConfig = chart.config.options.elements.center;
      var fontStyle = centerConfig.fontStyle || 'Arial';
      var txt = centerConfig.text;
      var color = centerConfig.color || '#000';
      var sidePadding = centerConfig.sidePadding || 20;
      var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)
      //Start with a base font of 30px
      ctx.font = "30px " + fontStyle;

      //Get the width of the string and also the width of the element minus 10 to give it 5px side padding
      var stringWidth = ctx.measureText(txt).width;
      var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

      // Find out how much the font can grow in width.
      var widthRatio = elementWidth / stringWidth;
      var newFontSize = Math.floor(30 * widthRatio);
      var elementHeight = (chart.innerRadius * 2);

      // Pick a new font size so it will not be larger than the height of label.
      var fontSizeToUse = Math.min(newFontSize, elementHeight);

      //Set font settings to draw it correctly.
      ctx.textAlign = 'center';
      ctx.textBaseline = 'middle';
      var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
      var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
      ctx.font = fontSizeToUse+"px " + fontStyle;
      ctx.fillStyle = color;

      //Draw text in center
      ctx.fillText(txt, centerX, centerY);
    }
  }
});

new Chart(document.getElementById("pie-chart11"), {
    type: 'doughnut',
    data: {
      labels: [" Ist Arbeitszeit in %", "Soll Arbeitszeit in %"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#d31d1d", "#1a1e21"],
        data: [ {{ working_time_prec }}, 100-{{working_time_prec}} ],
        hoverBorderWidth: 0,
        borderColor: "#24282c",
      }]
    },

    options: {
    segmentShowStroke : false,
        legend: {
            display: false
            },
  elements: {
      center: {
      text: '{{ working_time_prec }}' + '%',
      color: '#1a1e21', //Default black
      fontStyle: 'Helvetica', //Default Arial
    }
  }
}
});

</script>
<script type="text/javascript">
new Chart(document.getElementById("pie-chart12"), {
    type: 'doughnut',
    tooltipCaretSize: 0,
    data: {
      labels: [{% for item in list_cat_label %}
                  "{{item}}",
              {% endfor %}],
      datasets: [{
        backgroundColor: ['#1abc9c', '#2ecc71', '#3498db', '#9b59b6', '#34495e', '#f1c40f', '#e67e22', '#e74c3c', '#95a5a6'], //["#bccad6", "#8d9db6", "#667292", "#f1e3dd", "#cfe0e8","#b7d7e8","#87bdd8","#daebe8"],
        data: [{% for item in list_cat %}
                  {{item}},
              {% endfor %}],

        hoverBorderWidth: 5,
        borderColor: "#343a40",
      }]
    },
    options: {
          tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    console.log(data);
                    var datasetLabel = data.datasets[tooltipItem.datasetIndex].label ||'';
                    var label = data.labels[tooltipItem.index];
                    var perc = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]
                    console.log(perc);
                    var label1 = '';
                    var label2 = '';
                    if (label.length > 50){
                        label1 = label.substring(0,50) + " -"
                        label2 = label.substring(50, label.length)

                        return [perc + "% : " + label1, "            " + label2];
                        } else {
                        return [perc + "% : " + label];

                        }
                    }
                }
            },
        segmentShowStroke : false,
        legend: {
            display: false
            },
      title: {
        display: false,
      }

    }
});

</script>

<script type='text/javascript'>

 $(document).ready(function() {
       $.ajax({
        url: 'load_canvas/',
        data: {
          'selectedOption': 'line'
        },
        success: function (data) {
          $("#canvas_id").html(data);

          Chart.defaults.global.defaultFontColor = 'white';
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                labels: ['Jan','Feb','Mär','Apr','Mai','Jun','Jul','Aug','Sep','Okt','Nov','Dez'],

                datasets: [{
                    data: {{list_hours}},
                    label: "{{user}}",
                    borderColor: "#d43f3a",
                    fill: false,
                    backgroundColor: ["#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a"],

                    },
                    ]},
                options: {
                    title: {
                    display: true,
                    text: 'Arbeitszeit pro Monat (in Stunden)',
                    fontColor: "white"
                    }
                    }
            });

           }
       });


   $('input[name=options]').change(function(){
   var selectedOption = $("input:radio[name=options]:checked").val();
   $.ajax({
        url: 'load_canvas/',
        data: {
          'selectedOption': selectedOption
        },
        success: function (data) {
          $("#canvas_id").html(data);

            Chart.defaults.global.defaultFontColor = 'white';
            new Chart(document.getElementById(selectedOption + "-chart"), {
                type: selectedOption + '',
                data: {
                labels: ['Jan','Feb','Mär','Apr','Mai','Jun','Jul','Aug','Sep','Okt','Nov','Dez'],

                datasets: [{
                    backgroundColor: ["#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a","#d43f3a"],
                    data: {{list_hours}},
                    borderColor: "#d43f3a",
                    fill: true


                    },
                    ]},
                options: {
                    title: {
                    display: true,
                    responsive: true,
                    text: 'Arbeitszeit pro Monat (in Stunden)',
                    fontColor: "white"
                    }
                    }
            });

        }
        });
   });
 });

</script>

{% endblock %}