{% extends 'base.html' %}

{% block content %}
<head>
  <meta charset="utf-8">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <style>
body {background-color: rgb(250, 250, 250);}

.test{
    padding: 15px;
    background-color: #24282c;
    box-shadow: inset 0 0 10px #000000;
    margin: 10px;
}



</style>
</head>

<div class="container">
  <!-- Content here -->
            <div class="test" style="height: 50%">
                <div>
                    <center>
                        <p>
                            <font color="white" >Arbeitszeit pro Kategorie für: </font>
                        </p>
                    </center>
                    <center>
                        <div class="input-group input-daterange" style="width: 25%; margin: 10px;">
                        <input type="text" class="form-control" id="start_date" value="{{currentdate}}" style="cursor: pointer">
                        </div>
                    </center>
                </div>
                <span class= "align-baseline">
                    <div id ="canvas-container">
                        <canvas id="bar-chart_cat" width="300" height="100"></canvas>
                    </div>
                </span>
            </div>
</div>


<div class="container">
  <!-- Content here -->
    <div class="row">
        <div class="col">
            <div class="test">
                    <span class= "align-baseline">
                    <div>
                        <form method="get" >
                                    {% csrf_token %}
                                    <div style="margin: 5px;" class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" value="line" id="option1"> Line Chart
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option2" value="bar"> Bar Chart
                                        </label>
                                    </div>

                                <div id="canvas_id" ></div>

                                </form>
                    </div>
                    </span>
            </div>
        </div>
    </div>
</div>


<script>


$('.input-daterange input').each(function() {
    $(this).datepicker({
        format: "mm.yyyy",
        startView: "months",
        minViewMode: "months",
        autoclose: true,
        }).on('changeDate', function(e) {
            var start_date = document.getElementById("start_date").value;
            console.log(start_date);
            $.ajax({
                url: 'load_bar_cat/',
                data: {
                  'selectedDate': start_date
                },
                success: function (data) {
                  $("#canvas-container").html(data);
                },
            });
        });
    });

</script>


<script>

              Chart.defaults.global.defaultFontColor = 'white';
            new Chart(document.getElementById("bar-chart_cat"), {
                type: 'bar',
                data: {
                labels: ['Typ'],
                datasets: [
                    {% for key, value in data.items %}

                    {
                    label: "{{key}}",
                    backgroundColor: "{{value.1}}",
                    data: {{value.0}},
                    },

                    {% endfor %}
                    ],
                },
                options: {
                                        scales: {
                        yAxes: [{
                            display: true,
                                ticks: {
                                    min: 0,

                                    stepSize: 10
                                }
                            }]
                        },

                    legend: { position: 'bottom' },
                },
            });

</script>


<script>

 $(document).ready(function() {
       $.ajax({
        url: 'load_canvas/',
        data: {
          'selectedOption': 'line'
        },
        success: function (data) {
          $("#canvas_id").html(data);

          Chart.defaults.global.defaultFontColor = 'white';
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                labels: ['Jan','Feb','Mär','Apr','Mai','Jun','Jul','Aug','Sep','Okt','Nov','Dez'],

                datasets: [{
                    data: {{list_hours}},
                    label: "{{user}}",
                    borderColor: "#d43f3a",
                    fill: false,
                    backgroundColor: "#d43f3a",
                    },
                    ]},
                options: {
                    title: {
                    showTooltips: true,
                    display: true,
                    text: 'Arbeitszeit pro Monat (in Stunden)',
                    fontColor: "white"
                    }
                    }
            });

           }
       });


</script>


<script type='text/javascript'>

 $(document).ready(function() {
       $.ajax({
        url: 'load_canvas/',
        data: {
          'selectedOption': 'line'
        },
        success: function (data) {
          $("#canvas_id").html(data);

          Chart.defaults.global.defaultFontColor = 'white';
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                labels: ['Jan','Feb','Mär','Apr','Mai','Jun','Jul','Aug','Sep','Okt','Nov','Dez'],

                datasets: [{
                    data: {{list_hours}},
                    label: "{{user}}",
                    borderColor: "#d43f3a",
                    fill: false,
                    backgroundColor: "#d43f3a",
                    },
                    ]},
                options: {
                                    scales: {
                        yAxes: [{
                            display: true,
                                ticks: {
                                    min: 0,
                                    stepSize: 10
                                }
                            }]
                        },
                    title: {
                    showTooltips: true,
                    display: true,
                    text: 'Arbeitszeit pro Monat (in Stunden)',
                    fontColor: "white"
                    }
                    }
            });

           }
       });


   $('input[name=options]').change(function(){
   var selectedOption = $("input:radio[name=options]:checked").val();
   var tempScrollTop = $(window).scrollTop();
   console.log(tempScrollTop);
   console.log(selectedOption);
   $.ajax({
        url: 'load_canvas/',
        data: {
          'selectedOption': selectedOption
        },
        success: function (data) {
          $("#canvas_id").html(data);


            Chart.defaults.global.defaultFontColor = 'white';
            new Chart(document.getElementById(selectedOption + "-chart"), {
                type: selectedOption + '',
                data: {
                labels: ['Jan','Feb','Mär','Apr','Mai','Jun','Jul','Aug','Sep','Okt','Nov','Dez'],

                datasets: [{
                    backgroundColor: "#d43f3a",
                    data: {{list_hours}},
                    label: "{{user}}",
                    borderColor: "#d43f3a",
                    fill: false,
                    },
                    ]},
                options: {
                            scales: {
                        yAxes: [{
                            display: true,
                                ticks: {
                                    min: 0,
                                    stepSize: 10
                                }
                            }]
                        },
                    title: {
                    display: true,
                    showTooltips: true,
                    responsive: true,
                    text: 'Arbeitszeit pro Monat (in Stunden)',
                    fontColor: "white"
                    }
                    }
            });
        $(window).scrollTop(tempScrollTop);
        }
        });
   });
 });

</script>

{% endblock %}