{% extends 'base.html' %}

{% block content %}
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
body {background-color: rgb(250, 250, 250);}

</style>
</head>

<div class="container">

  <!-- Content here -->
    <div class="row">
        <div class="col">
            <div class="panel panel-bg-warning">
                <div class="panel-heading" style="background-color: #3E95CD">
                    <span class= "align-baseline">
                    <div>
                        <p>Stunden aktueller Monat in %</p>
                    </div>
                    </span>
                </div>
            </div>
        </div>
    <div class="col">
            <div class="panel panel-bg-warning">
                <div class="panel-heading" style="background-color: #3E95CD">
                    <span class= "align-baseline">
                    <div>
                        <p>Arbeitszeit pro Kategorie in %</p>
                    </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class= "align-baseline">
                            <div>
                                <canvas id="pie-chart11" width="2" height="1"></canvas>
                            </div>
                        </span>
                    </div>
                </div>
            </div>

                <div class="col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class= "align-light">
                                <div>
                                    <canvas id="pie-chart12" width="2" height="1"></canvas>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<script type="text/javascript">
new Chart(document.getElementById("pie-chart11"), {
    type: 'doughnut',
    data: {
      labels: [" Std. in %", "Std. pro Monat in %"],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [ {{ working_time_prec }}, 100-{{working_time_prec}} ],
      }]
    },
       options: {

       segmentShowStroke : false,
        legend: {
            display: false
            },
      title: {
        display: false,
        text: 'Arbeitzeit in %'
      }
    }
});

</script>
<script type="text/javascript">
new Chart(document.getElementById("pie-chart12"), {
    type: 'doughnut',
    data: {
      labels: [{% for item in list_cat_label %}
                  "{{item}}",
              {% endfor %}],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [{% for item in list_cat %}
                  {{item}},
              {% endfor %}],
      }]
    },
    options: {

        segmentShowStroke : false,
        legend: {
            display: false
            },
      title: {
        display: false,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});

</script>

<script type="text/javascript">
new Chart(document.getElementById("pie-chart13"), {
    type: 'doughnut',
    data: {
      labels: [],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [{{ overtime }}],
      }]
    },
    options: {

        segmentShowStroke : false,
        legend: {
            display: false
            },
      title: {
        display: false,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});

</script>


<div class="container">
<div class="panel panel-default">
            <div class="panel-heading">
<form method="get" >
    {% csrf_token %}
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" value="line" id="option1"> Line Chart
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" value="bar"> Bar Chart
  </label>
</div>
</form>

        <div class="row">
            <div class="col">
                <canvas id="{{choice}}-chart" width="10" height="3"></canvas>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script type='text/javascript'>

 $(document).ready(function() {
   $('input[name=options]').change(function(){
        $('form').submit();
   });
  });

</script>




<script type="text/javascript">
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ['Jan','Feb','Mär','Apr','Mai','Jun','Jul','Aug','Sep','Okt','Nov','Dez'],
    datasets: [{
        data: {{list_hours}},
        label: "Admin",
        borderColor: "#3e95cd",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Arbeitszeit pro Monat (in Stunden)'
    }
  }
});
</script>

<script type="text/javascript">
new Chart(document.getElementById("bar-chart"), {
  type: 'bar',
  data: {
    labels: ['Jan','Feb','Mär','Apr','Mai','Jun','Jul','Aug','Sep','Okt','Nov','Dez'],
    datasets: [{
        data: {{list_hours}},
        borderColor: "#3e95cd",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Arbeitszeit pro Monat (in Stunden)'
    }
  }
});
</script>
    <div class="container">
        <div class="row">
            <div class="col">
                <canvas id="radar-chart" width="800" height="600"></canvas>
            </div>
        </div>
        </div>
        </div>
    </div>

    <script type="text/javascript">
new Chart(document.getElementById("radar-chart"), {
    type: 'radar',
    data: {
      labels:{{ list_cat_label }},

      datasets: [
        {
          label: "Cat",
          fill: true,
          backgroundColor: "rgba(255,99,132,0.2)",
          borderColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(255,99,132,1)",
          pointBorderColor: "#fff",
          data: {{ list_cat }}
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Arbeitszeit pro Kategorie in %'
      }
    }
});

</script>

{% endblock %}