{% extends 'base.html' %}

{% block content %}
{% load bootstrap3 %}       {# import bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}

<head>
    <meta charset="UTF-8">
    <title>Options</title>

<style>
    .test{
    background-color: #24282c;
    box-shadow: inset 0 0 10px #000000;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.fav-changer{
    margin-top: 10px;
    margin-bottom: -5px;
}


#Worktimeform{
    margin-top: 10px;
    margin-bottom: 10px;
}

label{
    color: white;
}

.glyphicon-star{
    color: gold;
}

button{
    color:
}

</style>

</head>
<div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade in" role="alert">
            <Strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</Strong>
            {% endfor %}
            {% endif %}
        </div>
<div class="test">
    <div class="container">
            <form method="post" id="Worktimeform">
                {% csrf_token %}
                {{ work_time_form.as_p }}
                <button type="submit" class="btn btn-primary" >Eingabe</button>
            </form>
    </div>
</div>

<div id="alert_div">

</div>

<div class="test">
    <div class="container">
        {% if saved %}
        <div class="alert alert-success">
        <strong>Success!</strong> Indicates a successful or positive action.
        </div>
        {% endif %}
        <span style="color:white"><STRONG>Auswahl der Typen</STRONG></span>
        <form method="post" id="choiceForm" data-element-url="{% url 'ajax_load_element' %}" novalidate>
            {% csrf_token %}
            {{ choice_form.categories}}
            <span style="color:white"><STRONG>Kategorie auswählen und den Favoriten Hinzufügen</STRONG></span>
            <select class="form-control" id="id_element" name="groups_old"  multiple="multiple" >

            </select>

            <center>
                <div class = "fav-changer">
                <a><span onclick="favadd()" style="font-size: 150%" class="glyphicon glyphicon-arrow-down"></span></a>
                <a><span onclick="favremove()" style="font-size: 150%" class="glyphicon glyphicon-arrow-up"></span></a>
                </div>
            </center>

            <span style="color:gold" class="glyphicon glyphicon-star"><span style="color:white"><STRONG>Favoriten</STRONG></span></span>
            <select class="form-control" id="favorite" name="groups_old" multiple="multiple" >
            </select>

        </form>
        <button style="margin-top: 10px; margin-bottom: 10px;" type="button" onclick="savefav()" class="btn btn-primary" >Speichern</button>
    </div>
</div>
</div>
        <script>

    $("#id_categories").attr('class', 'form-control');
    $('#id_categories').prop("selectedIndex",0);

    $("#id_categories").change(function () {
      $('#favorite').find('option').remove();
      var url = $("#choiceForm").attr("data-element-url");  // get the url of the `load_elements` view
      var categoriesId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/element/)
        data: {
          'categories': categoriesId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_element` view function
          $("#id_element").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
    });


    $("#id_categories").change(function () {
      $('#favorite').find('option').remove();
      var categoriesId = $(this).val();

      $.ajax({
        url: 'load_favorites/',
        data: {
          'categories': categoriesId
        },
        success: function (data) {
          $("#favorite").html(data);
        }
      });
    });


    function favadd(){

    var cat = document.getElementById("id_element");
    var text = cat.options[cat.selectedIndex].text;
    cat.remove(cat.selectedIndex);


    var x = document.getElementById("favorite");
    var option = document.createElement("option");
    option.text = text;
    x.add(option);

    $('#id_element').prop("selectedIndex",0);

    }

    function favremove(){

    var fav = document.getElementById("favorite");
    var text = fav.options[fav.selectedIndex].text;
    fav.remove(fav.selectedIndex);

    var x = document.getElementById("id_element");
    var option = document.createElement("option");
    option.text = text;
    x.add(option);

    $('#favorite').prop("selectedIndex",0);

    }

    function savefav(){
        console.log("save");
        var cat = document.getElementById("id_categories");
        var cat = cat.options[cat.selectedIndex].text;

        var fav = document.getElementById("favorite");
        txt = [];
            for (i = 0; i < fav.length; i++) {
            txt = txt + "," + fav.options[i].value;
        console.log(txt);
        };

        $.ajax({
            type: "POST",
            url: 'addfavorites/',
            data: {
            'favorites': txt,
            'categorie': cat,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data){
            $('#alert_div').html('<div class="alert alert-success"><strong>Favoriten erfolgreich gespeichert</strong></div>');
            }
        });
    }




</script>


{% endblock %}