{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}       {# import bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options</title>

    <style>
    body {background-color: rgb(250, 250, 250)};
    </style>

</head>

<body>

<div class="bg"></div>
    <div class="container-fluid">
        <div class="panel panel-default">
        <div class="panel-heading">Vorschau</div>
            <div class="panel-body">
                <form method="post" id="choiceForm" data-element-url="{% url 'ajax_load_element' %}" novalidate>
                    {% csrf_token %}

                    {{ choice_form.as_p }}
                    <button class="btn btn-primary" onclick="return popitup('addcategories/')">Add Categories</button>
                    <button class="btn btn-primary" onclick="return popitup('addelements/')">Add Elements</button>
                </form>
            </div>
        </div>
  </div>


<div class="container-fluid">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} fade in" role="alert">
        <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</Strong>
        {% endfor %}
        {% endif %}
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">Arbeitszeit pro Woche</div>
            <div class="panel-body">

                <form method="post" id="Worktimeform">
                    {% csrf_token %}
                    {{ work_time_form.as_p }}
                    <button type="submit" class="btn btn-primary" >Eingabe</button>
                </form>
            </div>
        </div>
    </div>

<script>
$(function () {$('#datetimepicker1')});
</script>

<script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=500,width=500');
    if (window.focus) {newwindow.focus()}
    return false};
</script>

<script>
    $("#id_categories").attr('class', 'form-control');
    $("#id_element").attr('class', 'form-control');
    $("#id_categories").change(function () {
      var url = $("#choiceForm").attr("data-element-url");  // get the url of the `load_elements` view
      var categoriesId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/element/)
        data: {
          'categories': categoriesId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_element` view function
          $("#id_element").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
    });
</script>

</body>
</html>
{% endblock %}