
.test{
    background-color: #343a40;
    padding: 10px;
}

.holiday {
    background: rgba(211,211,211,0.1);
}

.popover-header{
    background-color: #676b70;
    color: white;
}

.popover{
    background-color: #676b70;
    box-shadow: 0 1px 5px rgba(0,0,0,0.95);
    transition: box-shadow 0.1s ease-in-out;
}

th, td, h2{
    color: white
}
.fc-time-grid-event{
    border: 1px solid #343a40;
    border-left: 5px solid Navy;
}

.fc-event{
    position: relative;
}

.fc-event:hover {
          box-shadow: 0 1px 5px rgba(0,0,0,0.95);
          transition: box-shadow 0.1s ease-in-out;
          transform: scale(1.05, 1.05);
          }


label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .glyphicon {
  color: gold;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 0.75em;
}

.custom-checkbox .glyphicon-star-empty {
  color: gray;
}

.custom-checkbox .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
  opacity: 1;
}

.fc-head{
 background-color: #343a40;
 box-shadow: inset 0 0 10px #000000;
}

.table-bordered{
    border: none;
}

.fc-view-container{
    box-shadow: inset 0 0 10px #000000;
    background-color: #24282C;
}

#id_element .fc-event{
    background-color: #676b70;
    border: none;
}

#fc-event ui-draggable ui-draggable-handle{
}

.fc-today-button{
    background-color: #337ab7;
    border-color: #337ab7;
    color: #ffffff;
}

.fc-prev-button{
    background-color: #337ab7;
    border-color: #337ab7;
    color: #ffffff;
}
.fc-next-button{
    background-color: #337ab7;
    border-color: #337ab7;
    color: #ffffff;
}
.fc-month-button{
    background-color: #337ab7;
    border-color: #337ab7;
    color: #ffffff;


.fc-agendaWeek-button{
    background-color: #337ab7;
    border-color: #337ab7;
    color: #ffffff;
}

.fc-today-button:hover{
    background-color: #409ded;
    border-color: #409ded;
    color: #ffffff;
}

.fc-prev-button:hover{
    background-color: #409ded;
    border-color: #409ded;
    color: #ffffff;
}
.fc-next-button:hover{
    background-color: #409ded;
    border-color: #409ded;
    color: #ffffff;
}

.popover-body{
    popover-body: #409ded;
}

.fc-event .fc-bg{

}

.progress {
    position:relative;
}
.progress span {
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    color:white;
}

