

<canvas id="line-chart" width="3" height="1"></canvas>

<script>
          Chart.defaults.global.defaultFontColor = 'white';
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                labels: [
                    {% for label in month_list %}
                        "{{label}}",
                    {% endfor %}
                    ],

                datasets: [
                           {% for key, value in data.items %}
                           {
                            data: {{value.hours}},
                            label: "{{key}}",
                            borderColor: "{{value.color}}",
                            fill: false
                           },
                           {% endfor %}
                          ]
                        },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                    display: true,
                    text: 'Arbeitszeit pro Monat (in Stunden)',
                    fontColor: "white"
                    }
                    }
            });


</script>